<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>
      <a routerLink="/client-profile/{{client.uid}}">
        <mat-icon>person</mat-icon>
        <span>Account</span>
      </a>
    </button>
    <button mat-menu-item>
      <a routerLink="/appointment/{{client.uid}}">
        <mat-icon>bookings</mat-icon>
        <span>Manage Appointments</span>
      </a>
    </button>
    <button mat-menu-item>
      <a routerLink="/search">
        <mat-icon>search</mat-icon>
        <span>Find Appointment</span>
      </a>
    </button>

    <button mat-menu-item>
      <a routerLink="/notification/{{client.uid}}">
        <mat-icon >notification_important</mat-icon>
        <span>Notifications</span>
      </a>
    </button>

    <button mat-icon-button class="example-icon" aria-label="icon" (click)="authService.logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
  <span class="spacer"></span>
  <span>Account</span>
  <span class="spacer"></span>
</mat-toolbar>


<mat-card class="card">

  <mat-card-header>
    <div mat-card-avatar class="client-image"></div>
    <br>
    <mat-card-title>
      Welcome back {{client.firstName}}
    </mat-card-title>
  </mat-card-header>


  <mat-tab-group>
    <mat-tab label="Details">
      <mat-divider></mat-divider>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <br>
            Phone: {{client.phone}}
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
    </mat-tab>
  </mat-tab-group>
</mat-card>