<mat-card class="card"> 
  <br>
  <ul>
    <li *ngFor="let profile of search.filteredProfiles">
      <mat-divider></mat-divider>
      <br>
      <a routerLink="/business-profile/{{profile.id}}">
        <mat-card-header>
          <img mat-card-avatar class="header-image" src='{{profile.img}}'>
          <mat-card-title>{{profile.businessName}}</mat-card-title>
          <mat-card-subtitle>
            Location: {{profile.county}}
          </mat-card-subtitle>
          <mat-card-subtitle>
            <p *ngIf="profile.rating" class="rating">
              {{profile.rating.toFixed(1)}} 
              <mat-icon aria-hidden="false" aria-label="Example star_rate">star_rate</mat-icon>
            </p>
          </mat-card-subtitle>
        </mat-card-header>
      </a>
      <br>
      <mat-divider></mat-divider>
      <br>
    </li>
  </ul>
</mat-card>
