<p>business-list works!</p>
<mat-card class="card"> 
    <form class="form-group">
      <br>
        <mat-form-field appearance="fill">
          <mat-label>Filter</mat-label>
          <mat-select>
            <mat-option value="option">By Price</mat-option>
            <mat-option value="option">By Rating</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
  
      <br>
      <mat-divider></mat-divider>
          <br>
          
      <a routerLink="/business-profile">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>businessName</mat-card-title>
          <mat-card-subtitle>
            Location:
          </mat-card-subtitle>
          <mat-card-subtitle>
            <mat-icon aria-hidden="false" aria-label="Example star_rate">star_rate</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example star_rate">star_rate</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon>
          </mat-card-subtitle>
        </mat-card-header>
      </a>
      
      <br>
      <mat-divider></mat-divider>
      <br>
      
    </mat-card>