ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}

.rating{
    vertical-align: middle;
}


.header-image
{
  margin-right:30px;
  height:80px;
  width:80px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  background-size: cover;
}

.card{
    padding-bottom: 55%
  }