<form class="form-group"  [formGroup]="advertiseForm" (ngSubmit)="onSubmit()">
    <br>
    <button mat-raised-button color="warn" class="cancelButton" type="button">
      <a routerLink="/business-dashboard">
        X
      </a>
    </button>
    
    <div>
      <h3>Appointment Advert</h3>
        <h4>
          {{appointmentInfo.clientName}} has rescheduled an appointment for {{appointmentInfo.serName}}, <br> on {{appointmentInfo.date}} at {{appointmentInfo.time}}
          with {{appointmentInfo.empName}}.
        </h4>
        <br>
        <h5>Advertise this appointment to another client at a discount</h5>
        <mat-form-field appearance="outline">
        <mat-label>Discount</mat-label>
        <mat-select [formControlName]="'discount'">
            <mat-option value="85">15% off</mat-option>
            <mat-option value="80">20% off</mat-option>
            <mat-option value="75">25% off</mat-option>
            <mat-option value="70">30% off</mat-option>
            <mat-option value="65">35% off</mat-option>
            <mat-option value="60">40% off</mat-option>
            <mat-option value="55">45% off</mat-option>
            <mat-option value="50">50% off</mat-option>
        </mat-select>
        </mat-form-field> 
        <br>
    </div>
    <button mat-raised-button type="submit" color="primary">
        <!-- <a routerLink="/profile-business-view"> -->
          Submit
      <!-- </a> -->
    </button>
    
</form>