<H1>One click appointments</H1>
<br>
<div *ngFor="let appoint of appointAdverts">
  <mat-divider></mat-divider>
  <mat-card class="card"> 
    <br>
        <mat-card-header>
          <mat-card-title>{{appoint.provider}}</mat-card-title>
          <mat-card-subtitle>
              Service: {{appoint.serName}} with {{appoint.discount}}% off <mat-icon>local_offer</mat-icon>
            </mat-card-subtitle>
          <mat-card-subtitle>
            Date: {{appoint.date}}
          </mat-card-subtitle>
          <mat-card-subtitle>
            Time: {{appoint.time | slice :0 :-3}}
          </mat-card-subtitle>
          <mat-card-subtitle>
            Price: &euro; {{appoint.serPrice.toFixed(2)}}
          </mat-card-subtitle>
          <mat-card-subtitle>
              <button mat-raised-button color="primary" (click)="addBooking(appoint)">
                    Book Now
              </button>
            </mat-card-subtitle>
        </mat-card-header>
  </mat-card>
</div>
