<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <a routerLink="/client-profile/{{client.uid}}">
        <mat-icon>person</mat-icon>
        <span>Account</span>
        </a>
      </button>
      <button mat-menu-item>
        <a routerLink="/appointment/{{client.uid}}">
        <mat-icon>bookings</mat-icon>
        <span>Manage Appointments</span>
      </a>
      </button>
      <button mat-menu-item>
        <a routerLink="/search">
            <mat-icon>search</mat-icon>
            <span>Find Appointment</span>  
        </a>
      </button>

      <button mat-menu-item>
        <a routerLink="/notification/{{client.uid}}">
            <mat-icon matBadge="15" matBadgeColor="warn">notification_important</mat-icon>
            <span>Notifications</span>  
        </a>
      </button>

      <button mat-icon-button class="example-icon" aria-label="icon" (click)="authService.logout()">
          <mat-icon>exit_to_app</mat-icon> 
          <span>Logout</span>  
      </button>

    </mat-menu>
    <span class="spacer"></span>
    <span>Appointments</span>
    <span class="spacer"></span>
</mat-toolbar>

 
<div *ngIf="!hidden">
  <div *ngFor="let booking of allBookings">
    <mat-divider></mat-divider>
      <mat-card class="card"> 
        <br>
          <a routerLink="/booking-confirmed/{{booking.appointmentId}}">
          <mat-card-header>
        <mat-icon>event</mat-icon> 
              <mat-card-title>{{booking.serName}}</mat-card-title>
              <mat-card-subtitle>
              {{booking.date}}
              </mat-card-subtitle>
              <mat-card-subtitle>
              {{booking.time}}
              </mat-card-subtitle>
          </mat-card-header>
          </a>
      </mat-card>
      <br>
  </div>
</div>
<div *ngIf="hidden" class="noAppointment">
  <h2>You have no appointments to manage</h2>
</div>
  <br> 