<<<<<<< HEAD
/* styling the toast container */
::ng-deep .toast-container {
  position: relative;
  top: 0 !important;
}

/* styling the toast notification */
::ng-deep .toast-container .ngx-toastr {
  top: 0 !important;
  position: relative;
  margin: 0 0 6px;
  padding: 10px 10px 10px 105px;
  width: 100% !important;
  border-radius: 0px;
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 85px;
  box-shadow: 0 0 12px #999;
  color: black;
  overflow: hidden;
  background-color: white;
  height: 100px;
  line-height: 21px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/appointment-pwa.appspot.com/o/slideshow%2Ficon-72x72.png?alt=media&token=bad03671-e38c-45bd-b606-64cd198f9792");
}
a {
  text-decoration: none;
}
=======
/* .spacer {
    flex: 1 1 auto;
  } */
 .logo{
    text-decoration: none;
    color: white;
  }

  ::ng-deep .toast-container {
    position: relative;
    top:0 !important;

  }
  
  /* styling the toast notification */
  ::ng-deep .toast-container .ngx-toastr {
    top:0 !important;
    position: relative;
    margin: 0 0 6px;
    padding: 10px 10px 10px 105px;
    width: 100% !important;
    border-radius: 0px;
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 85px;
    box-shadow: 0 0 12px #999;
    color: black;
    overflow: hidden;
    background-color: white;
    height: 100px;
    line-height: 21px;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/appointment-pwa.appspot.com/o/slideshow%2Ficon-72x72.png?alt=media&token=bad03671-e38c-45bd-b606-64cd198f9792');
  }
>>>>>>> parent of ef0b64d (styling and debugging)
