<router-outlet>
  <div toastContainer></div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a routerLink="/landing-page/" class="logo">
        <span>
          <mat-icon>spa</mat-icon>SelfCare
        </span>
      </a>
      <span class="spacer"></span>
      <button *ngIf="showButton" mat-raised-button color="accent" (click)="downloadApp()">
        <mat-icon>get_app</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</router-outlet>
<div *ngIf="!routeHidden">
  <app-landing-page></app-landing-page>
</div>