/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {flex: 1 1 auto;}

mat-form-field {width:100%;}

h1{
    text-align: center;
    padding-top:5%;
  }

  .links button a{
    text-decoration: none;
    color:white;
  }

  button a{
    text-decoration: none;
  }