<form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)">
    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput [formControlName]="'firstName'" type="text" placeholder="firstName">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput [formControlName]="'lastName'" type="text" placeholder="lastName">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput [formControlName]="'phone'" type="phone" placeholder="phone">
      </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [formControlName]="'email'" type="email" placeholder="Email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [formControlName]="'password'" type="password" placeholder="Password">
      </mat-form-field>
    
      
      <button mat-raised-button color="primary" type="submit">
          Sign Up
      </button>
</form>

<a [routerLink]="['/login']">
  Login
</a>
