.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.submit {
  float: right;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

<<<<<<< HEAD
.accountType {
  padding-top: 5%;
  padding-top: 5%;
}
.accountType .mat-radio-group {
  margin-left: 20%;
}

.accountType .mat-label {
  font-size: 20px;
  text-align: center;
  margin-left: 35%;
}

.accountType .mat-error {
  text-align: center;
}
=======
  .submit{
    float: right;
    margin-right: 20%;
    margin-top: 5%;
  }

  .accountType{
    padding-top:5%;
    padding-top:5%;
    margin-left: 35%;
  }

  .accountType .mat-label{
    font-size: 20px;
    text-align: center;
  }

  .redirect h3, .redirect a{
    text-align: center;
    margin-top: 10%;
  }

>>>>>>> parent of ef0b64d (styling and debugging)
