.header-image {
  margin-right: 30px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  background-size: cover;
}
.rating {
  vertical-align: middle;
}

.schedule {
  text-align: center;
}

.schedule .mat-list-item {
  padding: 5px;
}

h4 {
  text-align: center;
}
