<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>
      <a routerLink="/business-view/{{user.uid}}">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </a>
    </button>

    <button mat-menu-item>
      <a routerLink="/dashboard/{{user.uid}}">
        <mat-icon>bookings</mat-icon>
        <span>Dashboard</span>
    </a>
    </button>

    <button mat-menu-item>
      <a routerLink="/dashboard/{{user.uid}}">
        <mat-icon>notification_important</mat-icon>
        <span>Notifications</span>
    </a>
    </button>
    <!-- 
    <button mat-menu-item class="example-icon" aria-label="logout icon" (click)="authService.logout()">
      <a routerLink="/login">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </a>
    </button>-->

  </mat-menu>
  

  <span>Business Profile</span>
  <span class="spacer"></span>
</mat-toolbar> 

<div *ngIf="isCreated">
  <button mat-icon-button class="example-icon" aria-label="edit icon"> 
    <a routerLink="/edit-business-profile">
      <mat-icon>edit</mat-icon>
    </a>
  </button>
</div>

<div *ngIf="!isCreated">
    <h2>To Start Getting Appointments, Create Your Profile Today!</h2>
    <button mat-icon-button class="example-icon"  aria-label="edit button">
      <a routerLink="/add-business">
        <mat-icon>create</mat-icon>
      </a>
    </button>
</div>

<div *ngIf="isCreated">
    <mat-card class="card"> 
        <mat-card-header>
            <mat-card-subtitle>

            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content label="details">
          <br>
          <b>{{profileInfo.businessName}}</b>
          <br>
          <p>{{profileInfo.businessDescription}}</p>
        </mat-card-content>


        <mat-tab-group>
          <mat-tab label="Hours and Location">
            <mat-divider></mat-divider>
            <br>
            <h4><b>Location: </b>{{profileInfo.county}}</h4>
            <br><h4><b>Eircode: </b>{{profileInfo.eircode}}</h4>
            <!-- <mat-list-item role="listitem">Monday:    2:00 P to 6:00 PM</mat-list-item> -->
            <div>
              <mat-list-item role="listitem" >Monday: {{theHours.monday[0].startT}} To {{theHours.monday[0].finishT}}</mat-list-item>
              <br>
              <mat-list-item role="listitem" >Tuesday: {{theHours.tuesday[0].startT}} To {{theHours.tuesday[0].finishT}}</mat-list-item>
              <br>
              <mat-list-item role="listitem" >Wednesday: {{theHours.wednesday[0].startT}} To {{theHours.wednesday[0].finishT}}</mat-list-item>
              <br>
              <mat-list-item role="listitem" >Thursday: {{theHours.thursday[0].startT}} To {{theHours.thursday[0].finishT}}</mat-list-item>
              <br>
              <mat-list-item role="listitem" >Friday: {{theHours.friday[0].startT}} To {{theHours.friday[0].finishT}}</mat-list-item>
              <br>
              <mat-list-item role="listitem" >Saturday {{theHours.saturday[0].startT}} To {{theHours.saturday[0].finishT}}</mat-list-item> 
              <br>
              <mat-list-item role="listitem" *ngIf="theHours.sunday" > {{theHours.sunday[0].startT}} To {{theHours.sunday[0].finishT}}</mat-list-item>
          </div>
            <br>
          </mat-tab>
        

        <mat-tab label="Services">
          <mat-divider></mat-divider>
            <mat-expansion-panel  *ngFor="let service of services" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
               Name: {{service.serviceName}}
                </mat-panel-title>
                <mat-panel-description>
                  Price:  &#x20AC;{{service.servicePrice}} 
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-panel-title>
               Description: {{service.serviceDescription}}
              </mat-panel-title>
              <br>
              <mat-panel-title>
                Duration: {{service.duration}} Minutes
              </mat-panel-title>
              <mat-divider></mat-divider>
            </mat-expansion-panel>
            <mat-divider></mat-divider>
        </mat-tab>

        <mat-tab label="employees">
          <mat-divider></mat-divider>
            <mat-expansion-panel  *ngFor="let employee of employees" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                Name: {{employee.firstName}} &nbsp; {{employee.lastName}} 
                </mat-panel-title>
                <mat-panel-description>
                Description: {{employee.employeeDescription}} 
                </mat-panel-description>
              </mat-expansion-panel-header>
              <br>
              <mat-divider></mat-divider>
            </mat-expansion-panel>
            <mat-divider></mat-divider>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
</div>