<!-- <div *ngIf="review"> -->
<br> 

<mat-divider></mat-divider>
<mat-card class="card"> 
    <a routerLink="/reviews">
      <mat-card-header>
        <mat-card-title>Review Shear Creations</mat-card-title>
        <mat-card-subtitle>
          We'd love to hear about your experience with Shear Creations.
        </mat-card-subtitle>
      </mat-card-header>
    </a>
</mat-card>
<!-- </div> -->
  <br> 
<!-- <div *ngIf="reminder"> -->
  <mat-card class="card"> 
    <a routerLink="/booking-confirmation">
      <mat-card-header>
        <mat-card-title>Appointment Reminder</mat-card-title>
        <mat-card-subtitle>
            Dont forget your appointment with Divine Nails Tomorrow!
          </mat-card-subtitle>
        <mat-card-subtitle>
          Tuesday 12th Jan <br>  2:00 PM
        </mat-card-subtitle>
     
      </mat-card-header>
    </a>
  </mat-card>
<!-- </div> -->