<h1>Edit Your Profile</h1>
<button mat-raised-button class="cancelButton" color="warn" (click)="authService.cancel()" type="button"><mat-icon>arrow_back</mat-icon></button>
<form [formGroup]="editProfileForm" (ngSubmit)="onProfileSubmit(editProfileForm.value, editBusHours.value)">
    <mat-form-field appearance="outline">
        <mat-label>Business Name</mat-label>
        <input  [formControlName]="'businessName'" matInput>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
        <mat-label>Business Description</mat-label>
        <textarea [formControlName]="'businessDescription'" matInput></textarea>
    </mat-form-field>
    <br>
    

    <mat-form-field appearance="outline">
        <mat-label>Eircode</mat-label>
        <input [formControlName]="'eircode'" matInput>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
        <mat-label>County</mat-label>
        <mat-select [formControlName]="'county'">
            <mat-option value="Antrim">Antrim</mat-option>
            <mat-option value="Armagh">Armagh</mat-option>
            <mat-option value="Carlow">Carlow</mat-option>
            <mat-option value="Cavan">Cavan</mat-option>
            <mat-option value="Clare">Clare</mat-option>
            <mat-option value="Cork">Cork</mat-option>
            <mat-option value="Derry">Derry</mat-option>
            <mat-option value="Donegal">Donegal</mat-option>
            <mat-option value="Down">Down</mat-option>
            <mat-option value="Dublin">Dublin</mat-option>
            <mat-option value="Fermanagh">Fermanagh</mat-option>
            <mat-option value="Galway">Galway</mat-option>
            <mat-option value="Kerry">Kerry</mat-option>
            <mat-option value="Kildare">Kildare</mat-option>
            <mat-option value="Kilkenny">Kilkenny</mat-option>
            <mat-option value="Laois">Laois</mat-option>
            <mat-option value="Leitrim">Leitrim</mat-option>
            <mat-option value="Limerick">Limerick</mat-option>
            <mat-option value="Longford">Longford</mat-option>
            <mat-option value="Louth">Louth</mat-option>
            <mat-option value="Mayo">Mayo</mat-option>
            <mat-option value="Meath">Meath</mat-option>
            <mat-option value="Monaghan">Monaghan</mat-option>
            <mat-option value="Offaly">Offaly</mat-option>
            <mat-option value="Roscommon">Roscommon</mat-option>
            <mat-option value="Sligo">Sligo</mat-option>
            <mat-option value="Tipperary">Tipperary</mat-option>
            <mat-option value="Tyrone">Tyrone</mat-option>
            <mat-option value="Waterford">Waterford</mat-option>
            <mat-option value="Westmeath">Westmeath</mat-option>
            <mat-option value="Wexford">Wexford</mat-option>
            <mat-option value="Wicklow">Wicklow</mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
        <mat-label>Business Type</mat-label>
        <mat-select [formControlName]="'businessType'">
            <mat-option value="Hair Salon">Hair Salon</mat-option>
            <mat-option value="Barber">Barber</mat-option>
            <mat-option value="Nail Technician">Nail Technician</mat-option>
            <mat-option value="Beautician">Beautician</mat-option>
            <mat-option value="Beauty therapist">Beauty therapist</mat-option>
            <mat-option value="Masseuse">Masseuse</mat-option>
            <mat-option value="Hair Stylist">Hair Stylist</mat-option>
            <mat-option value="Make-Up Artist">Make-Up Artist</mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
        <mat-label>Reminder Message</mat-label>
        <textarea [formControlName]="'reminderMessage'" matInput></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Cancellation Policy</mat-label>
        <textarea [formControlName]="'cancellationPolicy'" matInput></textarea>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
        <mat-label>Pricing</mat-label>
        <mat-select [formControlName]="'price'">
          <mat-option value="1">&euro;</mat-option>
          <mat-option value="2">&euro;&euro;</mat-option>
          <mat-option value="3">&euro;&euro;&euro;</mat-option>
        </mat-select>
      </mat-form-field>
    <br>


    <!-- <form>
        <button mat-raised-button color="primary" (click)="fileInput.click()">
            Profile Images
            <input hidden type="file" #fileInput (change)="uploads.uploadProfileImages($event)" multiple
                accept="image/*">
        </button>
        <br>
        <progress max="100" [value]="(uploads.uploadGroupProgress | async)"></progress>
        <div *ngIf="uploads.downloadAllURL | async; let uploadSrc">
            <a [href]="uploadSrc">Uploaded</a>
        </div>

        <div *ngIf="uploads.uploadGroupState | async; let state">
            <button mat-raised-button color="warn" (click)="uploads.taskGroup.cancel()"
                [enabled]="!(state === 'paused' || state === 'running')">X</button>
        </div>

        <div *ngIf="uploads.downloadAllURL | async; let url">
            <img [src]="url" max-width="100" max-height="100">
        </div>
        <br>
        <br>
        <br>
    </form> -->


    <form [formGroup]="editBusHours">
        <mat-label>Working Days</mat-label><br><br>
        <div formArrayName="monday">
            <div *ngFor="let day of editBusHours.get('monday')['controls']; let i = index" [formGroupName]="i">
                <mat-label>Monday</mat-label>
                <mat-form-field appearance="outline">
                    <mat-label>from</mat-label>
                    <mat-select [formControlName]="'startT'">
                        <mat-option *ngFor="let hour of hourList[0]" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>To</mat-label>
                    <mat-select [formControlName]="'finishT'">
                        <mat-option *ngFor="let hour of hourList[0]" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <br>

        <div formArrayName="tuesday">
            <div *ngFor="let day of editBusHours.get('tuesday')['controls']; let i = index" [formGroupName]="i">
                <mat-label>Tuesday</mat-label>
                <mat-form-field appearance="outline">
                    <mat-label>from</mat-label>
                    <mat-select [formControlName]="'startT'">
                        <mat-option *ngFor="let hour of hourList[0]" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>To</mat-label>
                    <mat-select [formControlName]="'finishT'">
                        <mat-option *ngFor="let hour of hourList[0]" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>


        <br>

        <div formArrayName="wednesday">
            <div *ngFor="let day of editBusHours.get('wednesday')['controls']; let i = index" [formGroupName]="i">
                <mat-label>Wednesday</mat-label>
                <mat-form-field appearance="outline">
                    <mat-label>from</mat-label>
                    <mat-select [formControlName]="'startT'">
                        <mat-option *ngFor="let hour of hourList[0]" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>To</mat-label>
                    <mat-select [formControlName]="'finishT'">
                        <mat-option *ngFor="let hour of hourList[0]" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <br>
        <div formArrayName="thursday">
            <div *ngFor="let day of editBusHours.get('thursday')['controls']; let i = index" [formGroupName]="i">
                <mat-label>Thursday</mat-label>
                <mat-form-field appearance="outline">
                    <mat-label>from</mat-label>
                    <mat-select [formControlName]="'startT'">
                        <mat-option *ngFor="let hour of hourList[0]" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>To</mat-label>
                    <mat-select [formControlName]="'finishT'">
                        <mat-option *ngFor="let hour of hourList[0]" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <br>
        <div formArrayName="friday">
            <div *ngFor="let day of editBusHours.get('friday')['controls']; let i = index" [formGroupName]="i">
                <mat-label>Friday</mat-label>
                <mat-form-field appearance="outline">
                    <mat-label>from</mat-label>
                    <mat-select [formControlName]="'startT'">
                        <mat-option *ngFor="let hour of hourList[0]" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>To</mat-label>
                    <mat-select [formControlName]="'finishT'">
                        <mat-option *ngFor="let hour of hourList[0]" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <br>
        <div formArrayName="saturday">
            <div *ngFor="let day of editBusHours.get('saturday')['controls']; let i = index" [formGroupName]="i">
                <mat-label>Saturday</mat-label>
                <mat-form-field appearance="outline">
                    <mat-label>from</mat-label>
                    <mat-select [formControlName]="'startT'">
                        <mat-option *ngFor="let hour of hourList[0]" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>To</mat-label>
                    <mat-select [formControlName]="'finishT'">
                        <mat-option *ngFor="let hour of hourList[0]" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <br>
        <div formArrayName="sunday">
            <div *ngFor="let day of editBusHours.get('sunday')['controls']; let i = index" [formGroupName]="i">
                <mat-label>Sunday</mat-label>
                <mat-form-field appearance="outline">
                    <mat-label>from</mat-label>
                    <mat-select [formControlName]="'startT'">
                        <mat-option *ngFor="let hour of hourList[0]" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>To</mat-label>
                    <mat-select [formControlName]="'finishT'">
                        <mat-option *ngFor="let hour of hourList[0]" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
    <button class="submit" mat-raised-button color="primary" type="submit" >
        Update Profile
    </button>
</form> 