<form [formGroup]="loginForm" >
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Email">
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="Password" type="password" placeholder="Password">
      </mat-form-field>
    
      <a routerLink="/business-directory">
      <button mat-raised-button color="primary" type="submit">
          Login
        </button>
    </a>
</form>
