.custom-date-class {
    background: yellow;
    border-radius: 80%;
  }


  .cancelButton{
    float: right;
    margin-left: -10%;
    }
h4{
  text-align: center;
}
.submit{
    float: right;
    margin-right: 20%;
    margin-bottom: 10%;
}
