<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <a routerLink="/client-profile/{{client.uid}}">
        <mat-icon>person</mat-icon>
        <span>Account</span>
        </a>
      </button>
      <button mat-menu-item>
        <a routerLink="/appointment/{{client.uid}}">
        <mat-icon>bookings</mat-icon>
        <span>Manage Appointments</span>
      </a>
      </button>
      <button mat-menu-item>
        <a routerLink="/search">
            <mat-icon>search</mat-icon>
            <span>Find Appointment</span>  
        </a>
      </button>

      <button mat-menu-item>
        <a routerLink="/notification/{{client.uid}}">
            <mat-icon>notification_important</mat-icon>
            <span>Notifications</span>  
        </a>
      </button>
    </mat-menu>
    <span class="spacer"></span>
    <span>Find a Provider</span>
    <span class="spacer"></span>
</mat-toolbar>


<form class="form-group">
  <mat-form-field appearance="fill">
    <mat-label>Location</mat-label>
    <mat-select [(value)]="location">
      <mat-option value="Antrim">Antrim</mat-option>
      <mat-option value="Armagh">Armagh</mat-option>
      <mat-option value="Fermanagh">Fermanagh</mat-option>
      <mat-option value="Kilkenny">Kilkenny</mat-option>
      <mat-option value="Laois">Laois</mat-option>
      <mat-option value="Waterford">Waterford</mat-option>
      <mat-option value="Tipperary">Tipperary</mat-option>
      <mat-option value="Tyrone">Tyrone</mat-option>
      <mat-option value="Galway">Galway</mat-option>
      <mat-option value="Cork">Cork</mat-option>
      <mat-option value="Dublin">Dublin</mat-option>
    </mat-select>
  </mat-form-field> 
  <mat-form-field appearance="fill">
    <mat-label>Provider</mat-label>
    <mat-select [(value)]="busType">
      <mat-option value="Hair Stylist">Hair Stylist</mat-option>
      <mat-option value="Makeup artist">Makeup artist</mat-option>
      <mat-option value="Nail Technitian">Nail Technitian</mat-option>
      <mat-option value="Barber">Barber</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button aria-label="search" type="submit" (click)="onSearch()">Search</button>
  <button class="deals" mat-raised-button color="primary" aria-label="deals" (click)="onDeal()"><a routerLink="/">Deals</a></button>
</form>  
  
  
<!-- </form> -->
<br>

  <div *ngIf="deal">
      <app-business-deals></app-business-deals>
  </div>
  
  <!-- <div *ngIf="display"> -->
    <app-business-list></app-business-list>
<!-- </div> -->



